openapi: 3.0.1
info:
  title: Linxo Connect Payments API
  description: "This is a test"
  version: '1.0'
servers:
  - url: https://api.ribpay.app/pis
paths:
  /v1/orders:
    post:
      tags:
        - Payment orders
      summary: "Create an order.\n"
      description: "Create an order representing one or more payments, today or in the\nfuture to a unique beneficiary or multiples beneficiaries. An order\nis associated to a unique payment initiation, as a consequence it\nis associated to a unique authentication from the PSU bank.\n\nNote the order is valid during a 30 days period. After that delay,\nit will expire automatically and you can't use it anymore.\n"
      operationId: postOrder
      parameters:
        - name: X-FWD-Request-ID
          in: header
          description: "Format - uuid. ID of the request, unique to the call, as determined by the initiating\nparty and transmitted to the ASPSP.\n"
          required: true
          schema:
            type: string
          example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
        - name: Authorization
          in: header
          description: "Client credential OAuth2 authorization bearer. Composed by `Bearer` followed after\na space by the access token retrieved using `/token` endpoint.\n"
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiI3OTI4ZDExZGIxYTc4Nzg0NDFiOSIsImlzcyI6Imh0dHBzOi8vc2FuZGJveC1hdXRoLm94bGluLmlvIiwic3ViIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiYXVkIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiZXhwIjoxNTk0MTk3ODE0LCJpYXQiOjE1OTQxOTQyMTQsInNjb3BlIjoidXNlcnNfY3JlYXRlIHByb2ZpbGUgb3BlbmlkIn0.QFhD4VxSV1kzoBmjbRK5gi1r1Mf5hP6XbuTA8jsE7EQ8tdihTYAmpjyCDat2l8gyssinXMFlUOEaT0pnE_D1svDQWj-AGjOqj3_fmGJw1FAMaHfGvXCKBh3CTmNpCsd0fiQr6ocjI12DFYxVyK1fSFic-ix24kcEE_e7Z8AADI0jz_1z3Ls1rEMsqxvGk9pyZLJvum5xMWS9ZEWUBhjEZjSDlta_d9H8C5rF3GCW5NnDDyUDP0PZ1oQmR6ZIBY6rlASpq6n_VaRXR96koK00BZTLlwDwt8VUOQqDktIUc6h8MxRv4UFQmHYkOyIHZREsECwqPIlmU1hRzXH6qHqNtTIwJG0u9ccdioBTQzgnbYoLSGbCFgP1OUS95f2BbiQ633t89PfPV9Eioah5AaisuV4vudAsoUYAVnb04LAMpagI6Ym8bbp-b2_SuPBedtvtjBCxgZI7fnkw1JFGT5Io3ZNMn93AhAMXVdqxSqPR3lswB_2I3EK7fasLLFnJYcTZdgAqXvOEDUlI25cRmPIE4kik8c2Qz2V_oYsdFCWdW9acQ40Rq56JD2fJWPm0jYlncBmPJ2gSrinA-j--jyatnYoy7kBcGxfr_SG3vAwS03L7z-Aiowbdl9Bjvn3UXPqZFDc8tGSOLhBLD7JQxtIswlXo43huDTCya86tBgNfHm4
      requestBody:
        description: "Description of the order to create. Based on transmitted parameters,\nyou will be able to create a single payment (instant or not),\na standing order or a batch payment.\n\n> In order to simplify the `orders` creation, it exist two different\n> format:\n> - Format `SingleInstructionOrder` is a simplified way to create\n> payments of type `SINGLE_PAYMENT`, `SINGLE_INSTANT_PAYMENT` or\n> `STANDING_ORDERS`. Refer to sample `Single payment`.\n> - In addition, `MultiplesInstructionsOrder` format also\n> support payment of type BATCH_PAYMENTS. Refer to sample `Single\n> payment (alternate)`.\n"
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SingleInstructionOrder'
                - $ref: '#/components/schemas/MultiplesInstructionsOrder'
            examples:
              Single payment:
                value:
                  redirect_url: https://my_redirect_url/
                  amount: '23.45'
                  currency: EUR
                  beneficiary:
                    schema: SEPA
                    iban: FR8530003000307599775722N09
                    name: Jean Dupond
                  label: Payment from John Dupont to Jean Dupond
              Single payment (alternate):
                value:
                  redirect_url: https://my_redirect_url/
                  instructions:
                    - amount: '23.45'
                      currency: EUR
                      beneficiary:
                        schema: SEPA
                        iban: FR8530003000307599775722N09
                        name: Jean Dupond
                      label: Payment from John Dupont to Jean Dupond
              Pending order:
                value:
                  redirect_url: https://my_redirect_url/
                  amount: '33.33'
                  currency: EUR
                  start_date: '2019-12-31T23:00:00.0000000+00:00'
                  frequency: WEEKLY
                  beneficiary:
                    schema: SEPA
                    iban: FR7612345987650123456789014
                    name: Jean Dupond
                  label: Recurring payment from John Dupont to Jean Dupond
              Pending order (alternate):
                value:
                  redirect_url: https://my_redirect_url/
                  start_date: '2019-12-31T23:00:00.0000000+00:00'
                  frequency: WEEKLY
                  instructions:
                    - amount: '33.33'
                      currency: EUR
                      beneficiary:
                        schema: SEPA
                        iban: FR7612345987650123456789014
                        name: Jean Dupond
                      label: Recurring payment from John Dupont to Jean Dupond
              Batch payment:
                value:
                  redirect_url: https://my_redirect_url/
                  instructions:
                    - amount: '45.65'
                      currency: EUR
                      beneficiary:
                        schema: SEPA
                        iban: FR7612345987650123456789014
                        name: Jean Dupond
                      label: Payment from John Dupont to Jean Dupond
                    - amount: '23.43'
                      currency: EUR
                      beneficiary:
                        schema: SEPA
                        iban: FR7912345987650123456789014
                        name: Jean Doe
                      label: Payment from John Dupont to Jean Doe
                    - amount: '345'
                      currency: EUR
                      beneficiary:
                        schema: SEPA
                        iban: FR8312345987650123456789014
                        name: John Jean
                      label: Payment from John Dupont to John Jean
      responses:
        '201':
          description: "Created order.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderItem'
              examples:
                Single payment:
                  value:
                    id: 299e1bf6-a95e-11ea-bb37-0242ac130002
                    order_status: NEW
                    creation_date: '2020-01-24T07:42:32.0000000+00:00'
                    auth_url: https://oxlin.com/auth_payment/12/
                    redirect_url: https://my_redirect_url/
                    start_date: '2020-01-24T07:42:32.0000000+00:00'
                    instructions:
                      - amount: '23.45'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR8530003000307599775722N09
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                Pending order:
                  value:
                    id: 39d490ea-a95e-11ea-bb37-0242ac130002
                    order_status: NEW
                    creation_date: '2019-12-24T08:34:23.0000000+00:00'
                    auth_url: https://oxlin.com/auth_payment/15/
                    redirect_url: https://my_redirect_url/
                    start_date: '2019-12-31T23:00:00.0000000+00:00'
                    frequency: WEEKLY
                    instructions:
                      - amount: '33.33'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Recurring payment from John Dupont to Jean Dupond
                Batch payment:
                  value:
                    id: 3cf58fea-a95e-11ea-bb37-0242ac130002
                    order_status: NEW
                    creation_date: '2020-01-24T08:40:23.0000000+00:00'
                    auth_url: https://oxlin.com/auth_payment/15/
                    redirect_url: https://my_redirect_url/
                    start_date: '2020-01-24T08:40:23.0000000+00:00'
                    instructions:
                      - amount: '45.65'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                      - amount: '23.43'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7912345987650123456789014
                          name: Jean Doe
                        label: Payment from John Dupont to Jean Doe
                      - amount: '345'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR8312345987650123456789014
                          name: John Jean
                        label: Payment from John Dupont to John Jean
        '400':
          description: "Invalid parameters, they don't respect schema or parameter value\naren't acceptable according current state.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '401':
          description: "Unauthorized, authentication failure.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '403':
          description: "Forbidden, authentication successful but access to resource is not\nallowed.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '404':
          description: "Not found, no request available.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '405':
          description: "Method Not Allowed.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '415':
          description: "Unsupported media type.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '500':
          description: "Internal server error.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
  '/v1/authorize/{order_id}':
    get:
      tags:
        - Payment orders
      summary: "Start authorisation flow for an order.\n"
      description: "Open the HTML page use to manage the order authorisation flow. Depending on order\ncontext, page will provides a way to:\n- Manage terms and conditions\n- Get payer email address\n- Select payer bank\n- Select payer account\n- Redirect to the bank authorisation page\n\nThe page will automatically select the best language to use according\nclient browser configuration. It is possible to override browser language\ndetection using `lng` parameter. Language detection priority is following:\n1. `lng` parameter\n2. browser configuration\n3. `en_EN` value\n"
      operationId: getAuthorize
      parameters:
        - name: order_id
          in: path
          description: "Unique identifier of an order.\n"
          required: true
          schema:
            $ref: '#/components/schemas/OrderId'
          example: 14d51b74-175a-11eb-adc1-0242ac120002
        - name: client_id
          in: query
          description: "Client identifier of the owner of referenced `orders`.\n"
          required: true
          schema:
            type: string
          example: c93a95fc-602c-4a63-8df5-06e1c2a06253
        - name: locale
          in: query
          description: "Browser language to use in form:\n- language-code_language-variant\n- language-code\nBrowser language to use with ISO-639 two letters language code optional\nfollowed by _ and the two letters ISO-3166 country code (override\nbrowser language detection):\n- language-code_country_code\n- language-code\nValid values samples:\n- `en`\n- `en_EN`, `en_GB`, `en_US`\n- `fr`\n- `fr_FR`\n"
          schema:
            type: string
          example: en_EN
        - name: lng
          in: query
          description: "Replaced by `locale`. Browser language to use in form:\n- language-code_language-variant\n- language-code\n\nValid values samples:\n- `en`\n- `en_EN`, `en_GB`, `en_US`\n- `fr`\n- `fr_FR`\n"
          schema:
            type: string
          example: en_EN
        - name: countries
          in: query
          description: "Restricted list of bank countries the user is asked to connect to. Filter\nis composed by a list of ISO-3166 Alpha-2 countries descriptor.\nIf undefined, all available banks will be available.\n"
          schema:
            type: array
          example: 'fr, pt'
        - name: favorite_providers
          in: query
          description: "Define a list of favorites providers that will be displayed by default\non the bank list screen.\n- If `favorite_providers` is undefined, we display the list of most used banks\nwith a “See all banks” button used to display the\nentire bank list.\n- If `favorite_providers` is defined with valid BIC list, we display banks\nwithin the list with a “See all banks” button used to display\nthe entire bank list.\n- If `favorite_providers` is defined with <EMPTY> value or only invalid\nBIC list, we display the entire bank list without any “See all banks” button.\n"
          schema:
            type: array
          example: 'AGRIFRP1ACF,SIBLFRPP,CMCIFRPA'
        - name: title
          in: query
          description: "Override widget displayed title.\n"
          schema:
            type: string
          example: New title
        - name: terms_header
          in: query
          description: "Terms and conditions page header customized value. Use `%MAIL%` text\nif you need to integrate user mail.\n> Customization not available if you are using Oxlin agreement.\n"
          schema:
            type: string
          example: Vous serez redirigé vers votre banque en ligne pour vous authentifier et valider votre paiement. Une fois le paiement réalisé vous recevrez une confirmation par email à l'adresse %MAIL%
        - name: terms_footer
          in: query
          description: "Terms and conditions page footer customized value.\n> Customization not available if you are using Oxlin agreement.\n"
          schema:
            type: string
          example: Oxlin établissement de paiement agréé par l’ACPR - Banque de France sous le numéro 16928.
        - name: terms_body
          in: query
          description: "Terms and conditions page body customized value using markdown syntax.\nTo link static terms and conditions page, use\n`[link description](https://link.destination)`.\n> Customization not available if you are using Oxlin agreement.\n\n> When using your agreement, if not set we won't display terms page. As\n> a consequence, you won't have access to folowing capabilities:\n> - Ask user to register IBAN.\n> - Display a QR Code on non mobile device if AppToApp flow is\n> supported by the bank.\n"
          schema:
            type: string
          example: 'Ce service est opéré par Linxo Connect, établissement de paiement agrée par l''ACPR.  En continuant vous acceptez les conditions générales de Linxo Connect Payments et  la politique de confidentialité Linxo Connect'
        - name: instant_payment_header
          in: query
          description: "Instant payment feature page header customized value using markdown syntax.\n> Customization not available if you are using Oxlin agreement.\n"
          schema:
            type: string
          example: Choisissez le type de virement
        - name: instant_payment_text
          in: query
          description: "Instant payment feature page header customized value using markdown syntax.\n> Customization not available if you are using Oxlin agreement.\n"
          schema:
            type: string
          example: En choisissant de réaliser un virement instantané...
        - name: single_payment_text
          in: query
          description: "Instant payment feature page header customized value using markdown syntax.\n> Customization not available if you are using Oxlin agreement.\n"
          schema:
            type: string
          example: Réaliser un virement standard...
        - name: instant_payment_footer
          in: query
          description: "Instant payment feature page footer customized value using markdown syntax.\n> Customization not available if you are using Oxlin agreement.\n"
          schema:
            type: string
          example: Le virement instantané peut vous être facturé par votre banque.
        - name: providers_header
          in: query
          description: "Provider search page header customized value.\n> Customization not available if you are using Oxlin agreement.\n"
          schema:
            type: string
          example:
            Rechercher votre banque: ''
        - name: providers_search_hint
          in: query
          description: "Provider search page input placeholder customized value.\n> Customization not available if you are using Oxlin agreement.\n"
          schema:
            type: string
          example: Rechercher…
        - name: font
          in: query
          description: "Font to use in page (CSS representation).\n"
          schema:
            type: string
          example: 'italic small-caps bold 12px/30px Georgia, serif'
        - name: font_color
          in: query
          description: "Font color to use in page (CSS representation).\n"
          schema:
            type: string
          example: Blue
        - name: font_secondary_color
          in: query
          description: "Font secondary color to use in page for buttons (CSS representation).\n"
          schema:
            type: string
          example: Blue
        - name: background_color
          in: query
          description: "Background color (CSS representation).\n"
          schema:
            type: string
          example: Blue
        - name: elements_font
          in: query
          description: "Font to use for primary elements (CSS representation).\n"
          schema:
            type: string
          example: 'italic small-caps bold 12px/30px Georgia, serif'
        - name: elements_color
          in: query
          description: "Primary elements color to use (CSS representation).\n"
          schema:
            type: string
          example: Blue
        - name: foreground_color
          in: query
          description: "Replaced by `elements_color`. Foreground color (CSS representation).\n"
          schema:
            type: string
          example: Blue
        - name: elements_font_color
          in: query
          description: "Font color to use for primary elements (CSS representation).\n"
          schema:
            type: string
          example: Blue
        - name: secondary_elements_color
          in: query
          description: "Secondary elements color to use (CSS representation).\n"
          schema:
            type: string
          example: Blue
        - name: secondary_elements_font_color
          in: query
          description: "Font color to use for secondary elements(CSS representation).\n"
          schema:
            type: string
          example: Blue
        - name: display_border
          in: query
          description: "When false, page is rendered without any border.\n"
          schema:
            type: boolean
            default: true
        - name: light
          in: query
          description: "Depending on regulation status and constraints, when true, we will hide\npayment summary.\n"
          schema:
            type: boolean
            default: false
        - name: button_radius
          in: query
          description: "Buttons radius value in `px`.\n"
          schema:
            type: number
            default: 5
        - name: cancel_url
          in: query
          description: "When set, widget will display a cancel link redirecting to that URL.\n"
          schema:
            type: string
        - name: ask_for_alias
          in: query
          description: "When set to true in association with a valid value for\n`orders.user_reference`, payer is asked to register is\naccount just before redirecting him to his bank\nauthentication flow.\n"
          schema:
            type: boolean
            default: true
        - name: ask_for_iban
          in: query
          description: "When set to true, payer can directly type its payment account IBAN.\n"
          schema:
            type: boolean
            default: false
        - name: display_qr_code
          in: query
          description: "When set to true, if the bank support app to app flow and if the payment page is\nnot displayed using a mobile phone, we will display a QR code giving a way to optimize\npayment flow opening the bank application.\n"
          schema:
            type: boolean
            default: true
        - name: display_header
          in: query
          description: "When false, page is rendered without header including back arrow.\n"
          schema:
            type: boolean
            default: true
        - name: item_border_color
          in: query
          description: "Items border color using (CSS representation), no border if undefined.\n"
          schema:
            type: string
          example: Blue
        - name: item_border_radius
          in: query
          description: "Item border radius value in `px`.\n"
          schema:
            type: number
            default: 0
        - name: item_arrow_color
          in: query
          description: "Items arrow color using (CSS representation), no arrow if undefined.\n"
          schema:
            type: string
          example: Blue
        - name: button_arrow_color
          in: query
          description: "Button arrow color using (CSS representation), no arrow if undefined.\n"
          schema:
            type: string
          example: Blue
        - name: button_size
          in: query
          description: "Button size:\n- `SMALL`: Button size is small.\n- `LARGE`: Button size is large.\n"
          schema:
            enum:
              - SMALL
              - LARGE
            type: string
            default: SMALL
          example: LARGE
        - name: button_alignment
          in: query
          description: "Button size:\n- `LEFT_TOP`: horizontal alignment left, vertical alignement top.\n- `CENTER_TOP`: horizontal alignment center, vertical alignement top.\n- `RIGHT_TOP`: horizontal alignment right, vertical alignement top.\n- `LEFT_BOTTOM`: horizontal alignment left, vertical alignement bottom.\n- `CENTER_BOTTOM`: horizontal alignment center, vertical alignement bottom.\n- `RIGHT_BOTTOM`: horizontal alignment right, vertical alignement bottom.\n"
          schema:
            enum:
              - LEFT_TOP
              - CENTER_TOP
              - RIGHT_TOP
              - LEFT_BOTTOM
              - CENTER_BOTTOM
              - RIGHT_BOTTOM
            type: string
            default: LEFT_BOTTOM
          example: CENTER_BOTTOM
      responses:
        '200':
          description: "HTML page used to authorize the order.\n"
          content:
            text/html:
              schema:
                type: string
                example: <html>HTML Content</html>
              example: <V1Authorize-order_id-Get200TextHtmlResponse>&lt;html&gt;HTML Content&lt;/html&gt;</V1Authorize-order_id-Get200TextHtmlResponse>
        '302':
          description: "Only if not using Oxlin agreement, return header `Location` with\nURL to browse to in order to start authorisation flow at the bank side.\n\n> Note the `302` redirection only appends if `orders` is fully filled\nwith all information required to select the payer bank. If not,\nwe will return a `200` response with a bank selection page.\n"
          headers:
            Location:
              description: "Location where to browse the content.\n"
              required: true
              schema:
                type: string
              example: https://domain.com/context?param=value
        '400':
          description: "HTML page describing an HTTP 400 error code.\n"
          content:
            text/html:
              schema:
                type: string
                example: <html>HTML Content</html>
              example: <V1Authorize-order_id-Get400TextHtmlResponse>&lt;html&gt;HTML Content&lt;/html&gt;</V1Authorize-order_id-Get400TextHtmlResponse>
        '404':
          description: "HTML page describing an HTTP 404 error code.\n"
          content:
            text/html:
              schema:
                type: string
                example: <html>HTML Content</html>
              example: <V1Authorize-order_id-Get404TextHtmlResponse>&lt;html&gt;HTML Content&lt;/html&gt;</V1Authorize-order_id-Get404TextHtmlResponse>
        '405':
          description: "HTML page describing an HTTP 405 error code.\n"
          content:
            text/html:
              schema:
                type: string
                example: <html>HTML Content</html>
              example: <V1Authorize-order_id-Get405TextHtmlResponse>&lt;html&gt;HTML Content&lt;/html&gt;</V1Authorize-order_id-Get405TextHtmlResponse>
        '500':
          description: "HTML page describing an HTTP 500 error code.\n"
          content:
            text/html:
              schema:
                type: string
                example: <html>HTML Content</html>
              example: <V1Authorize-order_id-Get500TextHtmlResponse>&lt;html&gt;HTML Content&lt;/html&gt;</V1Authorize-order_id-Get500TextHtmlResponse>
  '/v1/running/orders/{order_id}':
    get:
      tags:
        - Payment orders
      summary: "Get a specific order for realtime access.\n"
      description: "Retrieve a specific order based on its unique identifier for realtime access.\nAs a consequence, **can only be used to get an `orders` during the realtime flow**\nmeans **while order is in its initial state `NEW` and during the next 10 minutes\nafter it was updated to another status**. The method have to be only used for\nhigh availability services, if it doesn't return any `orders`, you are probably\nusing the wrong method and have to deep into using `GET v1/reporting/orders/XXX`.\n\nEach order represent one or more payments,\ntoday or in the future, to a unique beneficiary or multiples\nbeneficiaries. An order is associated to one or more instructions but to a\nunique payment initiation at the bank side, as a consequence it is associated\nto a unique authentication from the PSU bank.\n"
      operationId: getRunningOrder
      parameters:
        - name: order_id
          in: path
          description: "Unique identifier of an order.\n"
          required: true
          schema:
            $ref: '#/components/schemas/OrderId'
          example: 14d51b74-175a-11eb-adc1-0242ac120002
        - name: X-FWD-Request-ID
          in: header
          description: "Format - uuid. ID of the request, unique to the call, as determined by the initiating\nparty and transmitted to the ASPSP.\n"
          required: true
          schema:
            type: string
          example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
        - name: Authorization
          in: header
          description: "Client credential OAuth2 authorization bearer. Composed by `Bearer` followed after\na space by the access token retrieved using `/token` endpoint.\n"
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiI3OTI4ZDExZGIxYTc4Nzg0NDFiOSIsImlzcyI6Imh0dHBzOi8vc2FuZGJveC1hdXRoLm94bGluLmlvIiwic3ViIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiYXVkIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiZXhwIjoxNTk0MTk3ODE0LCJpYXQiOjE1OTQxOTQyMTQsInNjb3BlIjoidXNlcnNfY3JlYXRlIHByb2ZpbGUgb3BlbmlkIn0.QFhD4VxSV1kzoBmjbRK5gi1r1Mf5hP6XbuTA8jsE7EQ8tdihTYAmpjyCDat2l8gyssinXMFlUOEaT0pnE_D1svDQWj-AGjOqj3_fmGJw1FAMaHfGvXCKBh3CTmNpCsd0fiQr6ocjI12DFYxVyK1fSFic-ix24kcEE_e7Z8AADI0jz_1z3Ls1rEMsqxvGk9pyZLJvum5xMWS9ZEWUBhjEZjSDlta_d9H8C5rF3GCW5NnDDyUDP0PZ1oQmR6ZIBY6rlASpq6n_VaRXR96koK00BZTLlwDwt8VUOQqDktIUc6h8MxRv4UFQmHYkOyIHZREsECwqPIlmU1hRzXH6qHqNtTIwJG0u9ccdioBTQzgnbYoLSGbCFgP1OUS95f2BbiQ633t89PfPV9Eioah5AaisuV4vudAsoUYAVnb04LAMpagI6Ym8bbp-b2_SuPBedtvtjBCxgZI7fnkw1JFGT5Io3ZNMn93AhAMXVdqxSqPR3lswB_2I3EK7fasLLFnJYcTZdgAqXvOEDUlI25cRmPIE4kik8c2Qz2V_oYsdFCWdW9acQ40Rq56JD2fJWPm0jYlncBmPJ2gSrinA-j--jyatnYoy7kBcGxfr_SG3vAwS03L7z-Aiowbdl9Bjvn3UXPqZFDc8tGSOLhBLD7JQxtIswlXo43huDTCya86tBgNfHm4
      responses:
        '200':
          description: "Requested order definition.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderItem'
              examples:
                Unauthorized single payment:
                  value:
                    id: 299e1bf6-a95e-11ea-bb37-0242ac130002
                    order_status: NEW
                    creation_date: '2020-01-24T07:42:32.0000000+00:00'
                    auth_url: https://oxlin.com/auth_payment/12/
                    redirect_url: https://my_redirect_url/
                    start_date: '2020-01-24T07:42:32.0000000+00:00'
                    instructions:
                      - amount: '23.45'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR8530003000307599775722N09
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                Authorized single payment:
                  value:
                    id: 2f4563b6-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: AUTHORIZED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2020-01-24T08:34:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: SINGLE_PAYMENT
                    start_date: '2020-01-24T08:34:23.0000000+00:00'
                    instructions:
                      - amount: '123.45'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                        payments:
                          - payment_status: SUBMITTED
                            amount: '123.45'
                            currency: EUR
                            execution_date: '2020-01-24T08:38:12.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                Closed single payment:
                  value:
                    id: 363e04a2-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: CLOSED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2020-01-24T08:38:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: SINGLE_PAYMENT
                    start_date: '2020-01-24T08:38:23.0000000+00:00'
                    instructions:
                      - amount: '12'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                        payments:
                          - payment_status: EXECUTED
                            amount: '12'
                            currency: EUR
                            execution_date: '2020-01-24T08:40:34.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                Authorized pending order:
                  value:
                    id: 39d490ea-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: AUTHORIZED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2019-12-24T08:34:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: STANDING_ORDERS
                    start_date: '2019-12-31T23:00:00.0000000+00:00'
                    frequency: WEEKLY
                    instructions:
                      - amount: '33.33'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Recurring payment from John Dupont to Jean Dupond
                        payments:
                          - payment_status: EXECUTED
                            amount: '33.33'
                            currency: EUR
                            execution_date: '2019-12-31T23:00:00.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                          - payment_status: EXECUTED
                            amount: '33.33'
                            currency: EUR
                            execution_date: '2020-01-07T23:00:00.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                          - payment_status: EXECUTED
                            amount: '33.33'
                            currency: EUR
                            execution_date: '2020-01-14T23:00:00.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                Closed batch payment:
                  value:
                    id: 3cf58fea-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: CLOSED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2020-01-24T08:40:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: BATCH_PAYMENTS
                    start_date: '2020-01-24T08:40:23.0000000+00:00'
                    instructions:
                      - amount: '45.65'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                        payments:
                          - payment_status: EXECUTED
                            amount: '45.65'
                            currency: EUR
                            execution_date: '2020-01-24T08:43:25.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                      - amount: '23.43'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7912345987650123456789014
                          name: Jean Doe
                        label: Payment from John Dupont to Jean Doe
                        payments:
                          - payment_status: EXECUTED
                            amount: '23.43'
                            currency: EUR
                            execution_date: '2020-01-24T08:43:25.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                      - amount: '345'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR8312345987650123456789014
                          name: John Jean
                        label: Payment from John Dupont to John Jean
                        payments:
                          - payment_status: EXECUTED
                            amount: '345'
                            currency: EUR
                            execution_date: '2020-01-24T08:43:25.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
        '401':
          description: "Unauthorized, authentication failure.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '404':
          description: "Not found, no request available.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '500':
          description: "Internal server error.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
    put:
      tags:
        - Payment orders
      summary: "Update a specific order.\n"
      description: "Update a specific order based on its unique identifier. It is possible\nto update:\n  - `order_status`: an order in status `NEW` or `AUTHORIZED` can be\n  changed to status `CLOSED`. In such case, order won't create any\n  new payments after status change, however existing payments status\n  won't change and are kept in current state.\n  - `bic`: you can change payer bank identification for an order in\n  status `NEW` with `order.bic` **undefined**.\n  - `email`: you can change payer email for an order in\n  status `NEW` with `orders.email` **undefined**.\n  - `selected_capability`: you can change payment used capability for an order in\n  status `NEW` with `orders.instructions.payments` **undefined**.\n  - `payer`: you can change payer account for an order in\n  status `NEW` with `order.payer` **undefined**.\n"
      operationId: putOrder
      parameters:
        - name: order_id
          in: path
          description: "Unique identifier of an order.\n"
          required: true
          schema:
            $ref: '#/components/schemas/OrderId'
          example: 14d51b74-175a-11eb-adc1-0242ac120002
        - name: X-FWD-Request-ID
          in: header
          description: "Format - uuid. ID of the request, unique to the call, as determined by the initiating\nparty and transmitted to the ASPSP.\n"
          required: true
          schema:
            type: string
          example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
        - name: Authorization
          in: header
          description: "Client credential OAuth2 authorization bearer. Composed by `Bearer` followed after\na space by the access token retrieved using `/token` endpoint.\n"
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiI3OTI4ZDExZGIxYTc4Nzg0NDFiOSIsImlzcyI6Imh0dHBzOi8vc2FuZGJveC1hdXRoLm94bGluLmlvIiwic3ViIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiYXVkIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiZXhwIjoxNTk0MTk3ODE0LCJpYXQiOjE1OTQxOTQyMTQsInNjb3BlIjoidXNlcnNfY3JlYXRlIHByb2ZpbGUgb3BlbmlkIn0.QFhD4VxSV1kzoBmjbRK5gi1r1Mf5hP6XbuTA8jsE7EQ8tdihTYAmpjyCDat2l8gyssinXMFlUOEaT0pnE_D1svDQWj-AGjOqj3_fmGJw1FAMaHfGvXCKBh3CTmNpCsd0fiQr6ocjI12DFYxVyK1fSFic-ix24kcEE_e7Z8AADI0jz_1z3Ls1rEMsqxvGk9pyZLJvum5xMWS9ZEWUBhjEZjSDlta_d9H8C5rF3GCW5NnDDyUDP0PZ1oQmR6ZIBY6rlASpq6n_VaRXR96koK00BZTLlwDwt8VUOQqDktIUc6h8MxRv4UFQmHYkOyIHZREsECwqPIlmU1hRzXH6qHqNtTIwJG0u9ccdioBTQzgnbYoLSGbCFgP1OUS95f2BbiQ633t89PfPV9Eioah5AaisuV4vudAsoUYAVnb04LAMpagI6Ym8bbp-b2_SuPBedtvtjBCxgZI7fnkw1JFGT5Io3ZNMn93AhAMXVdqxSqPR3lswB_2I3EK7fasLLFnJYcTZdgAqXvOEDUlI25cRmPIE4kik8c2Qz2V_oYsdFCWdW9acQ40Rq56JD2fJWPm0jYlncBmPJ2gSrinA-j--jyatnYoy7kBcGxfr_SG3vAwS03L7z-Aiowbdl9Bjvn3UXPqZFDc8tGSOLhBLD7JQxtIswlXo43huDTCya86tBgNfHm4
      requestBody:
        description: "Updates to realize on `order`.\n"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderItemUpdate'
            examples:
              Cancel an order:
                value:
                  order_status: CLOSED
              Define payer bank:
                value:
                  bic: AXABFRPP
              Define payer email:
                value:
                  email: payer.email@domain.com
              Define selected capability:
                value:
                  selected_capability: SINGLE_PAYMENT
              Define payer:
                value:
                  payer:
                    schema: SEPA
                    iban: FR8530003000307599775722N09
      responses:
        '204':
          description: "Order successfully updated.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
        '400':
          description: "Invalid parameters, they don't respect schema or parameter value\naren't acceptable according current state.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '401':
          description: "Unauthorized, authentication failure.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '403':
          description: "Forbidden, authentication successful but access to resource is not\nallowed.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '404':
          description: "Not found, no request available.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '415':
          description: "Unsupported media type.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '500':
          description: "Internal server error.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
  '/v1/reporting/orders/{order_id}':
    get:
      tags:
        - Payment orders
      summary: "Get a specific order.\n"
      description: "Retrieve a specific order based on its unique identifier.\nEach order represent one or more payments,\ntoday or in the future, to a unique beneficiary or multiples\nbeneficiaries. An order is associated to a unique payment initiation,\nas a consequence it is associated to a unique authentication from the\nPSU bank.\n"
      operationId: getOrder
      parameters:
        - name: order_id
          in: path
          description: "Unique identifier of an order.\n"
          required: true
          schema:
            $ref: '#/components/schemas/OrderId'
          example: 14d51b74-175a-11eb-adc1-0242ac120002
        - name: X-FWD-Request-ID
          in: header
          description: "Format - uuid. ID of the request, unique to the call, as determined by the initiating\nparty and transmitted to the ASPSP.\n"
          required: true
          schema:
            type: string
          example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
        - name: Authorization
          in: header
          description: "Client credential OAuth2 authorization bearer. Composed by `Bearer` followed after\na space by the access token retrieved using `/token` endpoint.\n"
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiI3OTI4ZDExZGIxYTc4Nzg0NDFiOSIsImlzcyI6Imh0dHBzOi8vc2FuZGJveC1hdXRoLm94bGluLmlvIiwic3ViIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiYXVkIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiZXhwIjoxNTk0MTk3ODE0LCJpYXQiOjE1OTQxOTQyMTQsInNjb3BlIjoidXNlcnNfY3JlYXRlIHByb2ZpbGUgb3BlbmlkIn0.QFhD4VxSV1kzoBmjbRK5gi1r1Mf5hP6XbuTA8jsE7EQ8tdihTYAmpjyCDat2l8gyssinXMFlUOEaT0pnE_D1svDQWj-AGjOqj3_fmGJw1FAMaHfGvXCKBh3CTmNpCsd0fiQr6ocjI12DFYxVyK1fSFic-ix24kcEE_e7Z8AADI0jz_1z3Ls1rEMsqxvGk9pyZLJvum5xMWS9ZEWUBhjEZjSDlta_d9H8C5rF3GCW5NnDDyUDP0PZ1oQmR6ZIBY6rlASpq6n_VaRXR96koK00BZTLlwDwt8VUOQqDktIUc6h8MxRv4UFQmHYkOyIHZREsECwqPIlmU1hRzXH6qHqNtTIwJG0u9ccdioBTQzgnbYoLSGbCFgP1OUS95f2BbiQ633t89PfPV9Eioah5AaisuV4vudAsoUYAVnb04LAMpagI6Ym8bbp-b2_SuPBedtvtjBCxgZI7fnkw1JFGT5Io3ZNMn93AhAMXVdqxSqPR3lswB_2I3EK7fasLLFnJYcTZdgAqXvOEDUlI25cRmPIE4kik8c2Qz2V_oYsdFCWdW9acQ40Rq56JD2fJWPm0jYlncBmPJ2gSrinA-j--jyatnYoy7kBcGxfr_SG3vAwS03L7z-Aiowbdl9Bjvn3UXPqZFDc8tGSOLhBLD7JQxtIswlXo43huDTCya86tBgNfHm4
      responses:
        '200':
          description: "Requested order definition.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderItem'
              examples:
                Unauthorized single payment:
                  value:
                    id: 299e1bf6-a95e-11ea-bb37-0242ac130002
                    order_status: NEW
                    creation_date: '2020-01-24T07:42:32.0000000+00:00'
                    auth_url: https://oxlin.com/auth_payment/12/
                    redirect_url: https://my_redirect_url/
                    start_date: '2020-01-24T07:42:32.0000000+00:00'
                    instructions:
                      - amount: '23.45'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR8530003000307599775722N09
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                Authorized single payment:
                  value:
                    id: 2f4563b6-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: AUTHORIZED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2020-01-24T08:34:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: SINGLE_PAYMENT
                    start_date: '2020-01-24T08:34:23.0000000+00:00'
                    instructions:
                      - amount: '123.45'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                        payments:
                          - payment_status: SUBMITTED
                            amount: '123.45'
                            currency: EUR
                            execution_date: '2020-01-24T08:38:12.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                Closed single payment:
                  value:
                    id: 363e04a2-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: CLOSED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2020-01-24T08:38:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: SINGLE_PAYMENT
                    start_date: '2020-01-24T08:38:23.0000000+00:00'
                    instructions:
                      - amount: '12'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                        payments:
                          - payment_status: EXECUTED
                            amount: '12'
                            currency: EUR
                            execution_date: '2020-01-24T08:40:34.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                Authorized pending order:
                  value:
                    id: 39d490ea-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: AUTHORIZED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2019-12-24T08:34:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: STANDING_ORDERS
                    start_date: '2019-12-31T23:00:00.0000000+00:00'
                    frequency: WEEKLY
                    instructions:
                      - amount: '33.33'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Recurring payment from John Dupont to Jean Dupond
                        payments:
                          - payment_status: EXECUTED
                            amount: '33.33'
                            currency: EUR
                            execution_date: '2019-12-31T23:00:00.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                          - payment_status: EXECUTED
                            amount: '33.33'
                            currency: EUR
                            execution_date: '2020-01-07T23:00:00.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                          - payment_status: EXECUTED
                            amount: '33.33'
                            currency: EUR
                            execution_date: '2020-01-14T23:00:00.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                Closed batch payment:
                  value:
                    id: 3cf58fea-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: CLOSED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2020-01-24T08:40:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: BATCH_PAYMENTS
                    start_date: '2020-01-24T08:40:23.0000000+00:00'
                    instructions:
                      - amount: '45.65'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                        payments:
                          - payment_status: EXECUTED
                            amount: '45.65'
                            currency: EUR
                            execution_date: '2020-01-24T08:43:25.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                      - amount: '23.43'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7912345987650123456789014
                          name: Jean Doe
                        label: Payment from John Dupont to Jean Doe
                        payments:
                          - payment_status: EXECUTED
                            amount: '23.43'
                            currency: EUR
                            execution_date: '2020-01-24T08:43:25.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                      - amount: '345'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR8312345987650123456789014
                          name: John Jean
                        label: Payment from John Dupont to John Jean
                        payments:
                          - payment_status: EXECUTED
                            amount: '345'
                            currency: EUR
                            execution_date: '2020-01-24T08:43:25.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
        '401':
          description: "Unauthorized, authentication failure.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '404':
          description: "Not found, no request available.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '500':
          description: "Internal server error.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
  /v1/reporting/orders/:
    get:
      tags:
        - Payment orders
      summary: "Returns a list of orders.\n"
      description: "Get the list of `orders`. Each order represents one or more payments,\ntoday or in the future, to a unique beneficiary or multiple\nbeneficiaries. An order is associated to a unique payment initiation,\nas a consequence it is associated to a unique authentication from the\nPSU bank.\n"
      operationId: get-v1-reporting-orders
      parameters:
        - name: page
          in: query
          description: "Page number in the pagination.\n"
          schema:
            type: number
          example: 7
        - name: limit
          in: query
          description: "Max number of items to retrieve (limited to 500).\n"
          schema:
            type: number
            default: 100
          example: 20
        - name: date_from
          in: query
          description: "Format - date-time (as date-time in RFC3339). Inclusive minimal creation date.\nISO 8601 format is used. Default value when not set will be\nthe value giving maximum history size.\n"
          schema:
            type: string
        - name: date_to
          in: query
          description: "Format - date-time (as date-time in RFC3339). Inclusive maximal creation date.\nISO 8601 format is used. Default value when not set will be\ncurrent date-time.\n"
          schema:
            type: string
        - name: execution_date_from
          in: query
          description: "Format - date-time (as date-time in RFC3339). Inclusive minimal execution date of a payment instruction.\nISO 8601 format is used. Default value when not set will be\nthe value giving maximum history size.\n"
          schema:
            type: string
        - name: order_status
          in: query
          description: "Orders status list.\n"
          schema:
            type: array
        - name: user_reference
          in: query
          description: "Unique identifier of a user.\n"
          schema:
            $ref: '#/components/schemas/UserReference'
        - name: data_for_searching_orders
          in: query
          description: "String in the following order data:\n- user reference (full text search)\n- payer email (full text search)\n- payer name (full text search)\n- payer account (strict search)\n- instruction label (full text search)\n- beneficiary name (full text search)\n- beneficiary account (strict search)\n- payer country (full text search)\n- beneficiary country (full text search)\n"
          schema:
            type: string
        - name: amount_from
          in: query
          description: "Inclusive minimal amount given with fractional digits, where fractions must be\ncompliant to the currency definition. Up to 14 significant figures.\nNegative amounts are signed by minus. The decimal separator is a dot.\n\nValid representations for amount with up to two decimals are:\n  - 1056\n  - 5768.2\n  - -1.50\n  - 5877.78.\n"
          schema:
            type: string
        - name: amount_to
          in: query
          description: "Inclusive maximal amount given with fractional digits, where fractions must be\ncompliant to the currency definition. Up to 14 significant figures.\nNegative amounts are signed by minus. The decimal separator is a dot.\n\nValid representations for amount with up to two decimals are:\n  - 1056\n  - 5768.2\n  - -1.50\n  - 5877.78.\n"
          schema:
            type: string
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: X-FWD-Request-ID
          in: header
          description: "Format - uuid. ID of the request, unique to the call, as determined by the initiating\nparty and transmitted to the ASPSP.\n"
          required: true
          schema:
            type: string
          example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
        - name: Authorization
          in: header
          description: "Client credential OAuth2 authorization bearer. Composed by `Bearer` followed after\na space by the access token retrieved using `/token` endpoint.\n"
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiI3OTI4ZDExZGIxYTc4Nzg0NDFiOSIsImlzcyI6Imh0dHBzOi8vc2FuZGJveC1hdXRoLm94bGluLmlvIiwic3ViIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiYXVkIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiZXhwIjoxNTk0MTk3ODE0LCJpYXQiOjE1OTQxOTQyMTQsInNjb3BlIjoidXNlcnNfY3JlYXRlIHByb2ZpbGUgb3BlbmlkIn0.QFhD4VxSV1kzoBmjbRK5gi1r1Mf5hP6XbuTA8jsE7EQ8tdihTYAmpjyCDat2l8gyssinXMFlUOEaT0pnE_D1svDQWj-AGjOqj3_fmGJw1FAMaHfGvXCKBh3CTmNpCsd0fiQr6ocjI12DFYxVyK1fSFic-ix24kcEE_e7Z8AADI0jz_1z3Ls1rEMsqxvGk9pyZLJvum5xMWS9ZEWUBhjEZjSDlta_d9H8C5rF3GCW5NnDDyUDP0PZ1oQmR6ZIBY6rlASpq6n_VaRXR96koK00BZTLlwDwt8VUOQqDktIUc6h8MxRv4UFQmHYkOyIHZREsECwqPIlmU1hRzXH6qHqNtTIwJG0u9ccdioBTQzgnbYoLSGbCFgP1OUS95f2BbiQ633t89PfPV9Eioah5AaisuV4vudAsoUYAVnb04LAMpagI6Ym8bbp-b2_SuPBedtvtjBCxgZI7fnkw1JFGT5Io3ZNMn93AhAMXVdqxSqPR3lswB_2I3EK7fasLLFnJYcTZdgAqXvOEDUlI25cRmPIE4kik8c2Qz2V_oYsdFCWdW9acQ40Rq56JD2fJWPm0jYlncBmPJ2gSrinA-j--jyatnYoy7kBcGxfr_SG3vAwS03L7z-Aiowbdl9Bjvn3UXPqZFDc8tGSOLhBLD7JQxtIswlXo43huDTCya86tBgNfHm4
      responses:
        '200':
          description: A JSON array of orders.
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                required:
                  - orders
                  - _links
                  - _page
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderItem'
                    description: "List of orders.\n"
                  _links:
                    required:
                      - self
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/GenericLink'
                      first:
                        $ref: '#/components/schemas/GenericLink'
                      last:
                        $ref: '#/components/schemas/GenericLink'
                      next:
                        $ref: '#/components/schemas/GenericLink'
                      prev:
                        $ref: '#/components/schemas/GenericLink'
                  _page:
                    $ref: '#/components/schemas/Page'
                description: "Orders response.\n"
                example:
                  orders:
                    - id: 299e1bf6-a95e-11ea-bb37-0242ac130002
                      order_status: NEW
                      creation_date: '2020-01-24T07:42:32.0000000+00:00'
                      auth_url: https://oxlin.com/auth_payment/12/
                      redirect_url: https://my_redirect_url/
                      start_date: '2020-01-24T07:42:32.0000000+00:00'
                      instructions:
                        - amount: '23.45'
                          currency: EUR
                          beneficiary:
                            schema: SEPA
                            iban: FR8530003000307599775722N09
                            name: Jean Dupond
                          label: Payment from John Dupont to Jean Dupond
                    - id: 2f4563b6-a95e-11ea-bb37-0242ac130002
                      bic: AXABFRPP
                      order_status: AUTHORIZED
                      payer:
                        schema: SEPA
                        iban: FR7612345987650123456789014
                      creation_date: '2020-01-24T08:34:23.0000000+00:00'
                      redirect_url: https://my_redirect_url/
                      selected_capability: SINGLE_PAYMENT
                      start_date: '2020-01-24T08:34:23.0000000+00:00'
                      instructions:
                        - amount: '123.45'
                          currency: EUR
                          beneficiary:
                            schema: SEPA
                            iban: FR7612345987650123456789014
                            name: Jean Dupond
                          label: Payment from John Dupont to Jean Dupond
                          payments:
                            - status: SUBMITTED
                              amount: '123.45'
                              currency: EUR
                              execution_date: '2020-01-24T08:38:12.0000000+00:00'
                              creation_date: '2020-01-27T11:23:12.0000000+00:00'
                    - id: 363e04a2-a95e-11ea-bb37-0242ac130002
                      bic: AXABFRPP
                      order_status: CLOSED
                      payer:
                        schema: SEPA
                        iban: FR7612345987650123456789014
                      creation_date: '2020-01-24T08:38:23.0000000+00:00'
                      redirect_url: https://my_redirect_url/
                      selected_capability: SINGLE_PAYMENT
                      start_date: '2020-01-24T08:38:23.0000000+00:00'
                      instructions:
                        - amount: '12'
                          currency: EUR
                          beneficiary:
                            schema: SEPA
                            iban: FR7612345987650123456789014
                            name: Jean Dupond
                          label: Payment from John Dupont to Jean Dupond
                          payments:
                            - status: EXECUTED
                              amount: '12'
                              currency: EUR
                              execution_date: '2020-01-24T08:40:34.0000000+00:00'
                              creation_date: '2020-01-27T11:23:12.0000000+00:00'
                    - id: 39d490ea-a95e-11ea-bb37-0242ac130002
                      bic: AXABFRPP
                      order_status: AUTHORIZED
                      payer:
                        schema: SEPA
                        iban: FR7612345987650123456789014
                      creation_date: '2019-12-24T08:34:23.0000000+00:00'
                      redirect_url: https://my_redirect_url/
                      selected_capability: STANDING_ORDERS
                      start_date: '2019-12-31T23:00:00.0000000+00:00'
                      frequency: WEEKLY
                      instructions:
                        - amount: '33.33'
                          currency: EUR
                          beneficiary:
                            schema: SEPA
                            iban: FR7612345987650123456789014
                            name: Jean Dupond
                          label: Recurring payment from John Dupont to Jean Dupond
                          payments:
                            - status: EXECUTED
                              amount: '33.33'
                              currency: EUR
                              execution_date: '2019-12-31T23:00:00.0000000+00:00'
                              creation_date: '2020-01-27T11:23:12.0000000+00:00'
                            - status: EXECUTED
                              amount: '33.33'
                              currency: EUR
                              execution_date: '2020-01-07T23:00:00.0000000+00:00'
                              creation_date: '2020-01-27T11:23:12.0000000+00:00'
                            - status: EXECUTED
                              amount: '33.33'
                              currency: EUR
                              execution_date: '2020-01-14T23:00:00.0000000+00:00'
                              creation_date: '2020-01-27T11:23:12.0000000+00:00'
                    - id: 3cf58fea-a95e-11ea-bb37-0242ac130002
                      bic: AXABFRPP
                      order_status: CLOSED
                      payer:
                        schema: SEPA
                        iban: FR7612345987650123456789014
                      creation_date: '2020-01-24T08:40:23.0000000+00:00'
                      redirect_url: https://my_redirect_url/
                      selected_capability: BATCH_PAYMENTS
                      start_date: '2020-01-24T08:40:23.0000000+00:00'
                      instructions:
                        - amount: '45.65'
                          currency: EUR
                          beneficiary:
                            schema: SEPA
                            iban: FR7612345987650123456789014
                            name: Jean Dupond
                          label: Payment from John Dupont to Jean Dupond
                          payments:
                            - status: EXECUTED
                              amount: '45.65'
                              currency: EUR
                              execution_date: '2020-01-24T08:43:25.0000000+00:00'
                              creation_date: '2020-01-27T11:23:12.0000000+00:00'
                        - amount: '23.43'
                          currency: EUR
                          beneficiary:
                            schema: SEPA
                            iban: FR7912345987650123456789014
                            name: Jean Doe
                          label: Payment from John Dupont to Jean Doe
                          payments:
                            - status: EXECUTED
                              amount: '23.43'
                              currency: EUR
                              execution_date: '2020-01-24T08:43:25.0000000+00:00'
                              creation_date: '2020-01-27T11:23:12.0000000+00:00'
                        - amount: '345'
                          currency: EUR
                          beneficiary:
                            schema: SEPA
                            iban: FR8312345987650123456789014
                            name: John Jean
                          label: Payment from John Dupont to John Jean
                          payments:
                            - status: EXECUTED
                              amount: '345'
                              currency: EUR
                              execution_date: '2020-01-24T08:43:25.0000000+00:00'
                              creation_date: '2020-01-27T11:23:12.0000000+00:00'
                  _links:
                    - self: https://pay.oxlin.io/v1/reporting/orders?page=1
                    - first: https://pay.oxlin.io/v1/reporting/orders?page=1
                    - last: https://pay.oxlin.io/v1/reporting/orders?page=10
                    - next: https://pay.oxlin.io/v1/reporting/orders?page=2
                  _page:
                    size: '5'
                    total_elements: '50'
                    total_pages: '10'
                    number: '1'
              example:
                orders:
                  - id: 299e1bf6-a95e-11ea-bb37-0242ac130002
                    order_status: NEW
                    creation_date: '2020-01-24T07:42:32.0000000+00:00'
                    auth_url: https://oxlin.com/auth_payment/12/
                    redirect_url: https://my_redirect_url/
                    start_date: '2020-01-24T07:42:32.0000000+00:00'
                    instructions:
                      - amount: '23.45'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR8530003000307599775722N09
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                  - id: 2f4563b6-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: AUTHORIZED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2020-01-24T08:34:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: SINGLE_PAYMENT
                    start_date: '2020-01-24T08:34:23.0000000+00:00'
                    instructions:
                      - amount: '123.45'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                        payments:
                          - status: SUBMITTED
                            amount: '123.45'
                            currency: EUR
                            execution_date: '2020-01-24T08:38:12.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                  - id: 363e04a2-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: CLOSED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2020-01-24T08:38:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: SINGLE_PAYMENT
                    start_date: '2020-01-24T08:38:23.0000000+00:00'
                    instructions:
                      - amount: '12'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                        payments:
                          - status: EXECUTED
                            amount: '12'
                            currency: EUR
                            execution_date: '2020-01-24T08:40:34.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                  - id: 39d490ea-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: AUTHORIZED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2019-12-24T08:34:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: STANDING_ORDERS
                    start_date: '2019-12-31T23:00:00.0000000+00:00'
                    frequency: WEEKLY
                    instructions:
                      - amount: '33.33'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Recurring payment from John Dupont to Jean Dupond
                        payments:
                          - status: EXECUTED
                            amount: '33.33'
                            currency: EUR
                            execution_date: '2019-12-31T23:00:00.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                          - status: EXECUTED
                            amount: '33.33'
                            currency: EUR
                            execution_date: '2020-01-07T23:00:00.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                          - status: EXECUTED
                            amount: '33.33'
                            currency: EUR
                            execution_date: '2020-01-14T23:00:00.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                  - id: 3cf58fea-a95e-11ea-bb37-0242ac130002
                    bic: AXABFRPP
                    order_status: CLOSED
                    payer:
                      schema: SEPA
                      iban: FR7612345987650123456789014
                    creation_date: '2020-01-24T08:40:23.0000000+00:00'
                    redirect_url: https://my_redirect_url/
                    selected_capability: BATCH_PAYMENTS
                    start_date: '2020-01-24T08:40:23.0000000+00:00'
                    instructions:
                      - amount: '45.65'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7612345987650123456789014
                          name: Jean Dupond
                        label: Payment from John Dupont to Jean Dupond
                        payments:
                          - status: EXECUTED
                            amount: '45.65'
                            currency: EUR
                            execution_date: '2020-01-24T08:43:25.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                      - amount: '23.43'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR7912345987650123456789014
                          name: Jean Doe
                        label: Payment from John Dupont to Jean Doe
                        payments:
                          - status: EXECUTED
                            amount: '23.43'
                            currency: EUR
                            execution_date: '2020-01-24T08:43:25.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                      - amount: '345'
                        currency: EUR
                        beneficiary:
                          schema: SEPA
                          iban: FR8312345987650123456789014
                          name: John Jean
                        label: Payment from John Dupont to John Jean
                        payments:
                          - status: EXECUTED
                            amount: '345'
                            currency: EUR
                            execution_date: '2020-01-24T08:43:25.0000000+00:00'
                            creation_date: '2020-01-27T11:23:12.0000000+00:00'
                _links:
                  - self: https://pay.oxlin.io/v1/reporting/orders?page=1
                  - first: https://pay.oxlin.io/v1/reporting/orders?page=1
                  - last: https://pay.oxlin.io/v1/reporting/orders?page=10
                  - next: https://pay.oxlin.io/v1/reporting/orders?page=2
                _page:
                  size: '5'
                  total_elements: '50'
                  total_pages: '10'
                  number: '1'
        '400':
          description: "Invalid parameters, they don't respect schema or parameter value\naren't acceptable according current state.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '401':
          description: "Unauthorized, authentication failure.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '403':
          description: "Forbidden, authentication successful but access to resource is not\nallowed.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '500':
          description: "Internal server error.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
  /v1/alias:
    post:
      tags:
        - Account alias
      summary: "Create an alias.\n"
      description: "Create an account alias used to store account identification\nin order to be reused for future payments.\n"
      operationId: postAlias
      parameters:
        - name: X-FWD-Request-ID
          in: header
          description: "Format - uuid. ID of the request, unique to the call, as determined by the initiating\nparty and transmitted to the ASPSP.\n"
          required: true
          schema:
            type: string
          example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
        - name: Authorization
          in: header
          description: "Client credential OAuth2 authorization bearer. Composed by `Bearer` followed after\na space by the access token retrieved using `/token` endpoint.\n"
          required: true
          schema:
            type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiI3OTI4ZDExZGIxYTc4Nzg0NDFiOSIsImlzcyI6Imh0dHBzOi8vc2FuZGJveC1hdXRoLm94bGluLmlvIiwic3ViIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiYXVkIjoiYjUwZTAyODItMjJlZi00ODUxLWJlZDgtOTZlMzc5MmM1OWI5IiwiZXhwIjoxNTk0MTk3ODE0LCJpYXQiOjE1OTQxOTQyMTQsInNjb3BlIjoidXNlcnNfY3JlYXRlIHByb2ZpbGUgb3BlbmlkIn0.QFhD4VxSV1kzoBmjbRK5gi1r1Mf5hP6XbuTA8jsE7EQ8tdihTYAmpjyCDat2l8gyssinXMFlUOEaT0pnE_D1svDQWj-AGjOqj3_fmGJw1FAMaHfGvXCKBh3CTmNpCsd0fiQr6ocjI12DFYxVyK1fSFic-ix24kcEE_e7Z8AADI0jz_1z3Ls1rEMsqxvGk9pyZLJvum5xMWS9ZEWUBhjEZjSDlta_d9H8C5rF3GCW5NnDDyUDP0PZ1oQmR6ZIBY6rlASpq6n_VaRXR96koK00BZTLlwDwt8VUOQqDktIUc6h8MxRv4UFQmHYkOyIHZREsECwqPIlmU1hRzXH6qHqNtTIwJG0u9ccdioBTQzgnbYoLSGbCFgP1OUS95f2BbiQ633t89PfPV9Eioah5AaisuV4vudAsoUYAVnb04LAMpagI6Ym8bbp-b2_SuPBedtvtjBCxgZI7fnkw1JFGT5Io3ZNMn93AhAMXVdqxSqPR3lswB_2I3EK7fasLLFnJYcTZdgAqXvOEDUlI25cRmPIE4kik8c2Qz2V_oYsdFCWdW9acQ40Rq56JD2fJWPm0jYlncBmPJ2gSrinA-j--jyatnYoy7kBcGxfr_SG3vAwS03L7z-Aiowbdl9Bjvn3UXPqZFDc8tGSOLhBLD7JQxtIswlXo43huDTCya86tBgNfHm4
      requestBody:
        description: "Description of the account alias to create.\n"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AliasItemCreate'
            example:
              user_reference: current_user_reference
              label: My prefered account
              account:
                schema: SEPA
                iban: FR8530003000307599775722N09
      responses:
        '201':
          description: "Created alias.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasItem'
              example:
                id: 054b7b60-0d85-4b91-841b-f70163cff8d4
                user_reference: current_user_reference
                label: My prefered account
                account:
                  schema: SEPA
                  iban: FR8530003000307599775722N09
        '400':
          description: "Invalid parameters, they don't respect schema or parameter value\naren't acceptable according current state.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
                  value: 
        '401':
          description: "Unauthorized, authentication failure.\n"
          headers:
            X-FWD-Request-ID:
              description: "ID of the request used for support, unique for each call, as determined\nby the initiating party. As a consequence, you have to generate a\nunique value each time you call any API endpoint, even for two calls\nmade in two different days. Best way to achieve ths is to use the UUID\ngenerator provided by your development framework.\n"
              required: true
              schema:
                type: string
              example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorModel'
              examples:
                default:
[...]
