{
  "openapi": "3.0.1",
  "info": {
    "title": "RIBPay - API",
    "version": "1.0",
    "description": "# Presentation - RIBPay API: Revolutionizing Digital Payments\n\n\n\n\n## Introduction\n\n\n\nWelcome to the future of digital transactions with RIBPay API, where convenience, security, and efficiency converge to transform how we manage payments.\n\n\n\n\n\n\n\n\n"
  },
  "servers": [
    {
      "url": "http://apim-ribpaydev-resource.azure-api.net/dab-test"
    }
  ],
  "paths": {
    "/Partner/pk_partner/{pk_partner}": {
      "get": {
        "tags": ["Partner"],
        "summary": "/Partner/pk_partner/{pk_partner} - GET",
        "description": "Returns an entity.",
        "operationId": "get-partner-pk_partner-pk_partner",
        "parameters": [
          {
            "name": "pk_partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Partner"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "put": {
        "tags": ["Partner"],
        "summary": "/Partner/pk_partner/{pk_partner} - PUT",
        "description": "Replace or create entity.",
        "operationId": "put-partner-pk_partner-pk_partner",
        "parameters": [
          {
            "name": "pk_partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Partner_NoPK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Partner"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Partner"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Partner"],
        "summary": "/Partner/pk_partner/{pk_partner} - PATCH",
        "description": "Update or create entity.",
        "operationId": "patch-partner-pk_partner-pk_partner",
        "parameters": [
          {
            "name": "pk_partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Partner_NoPK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Partner"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Partner"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Partner"],
        "summary": "/Partner/pk_partner/{pk_partner} - DELETE",
        "description": "Delete entity.",
        "operationId": "delete-partner-pk_partner-pk_partner",
        "parameters": [
          {
            "name": "pk_partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/Partner": {
      "get": {
        "tags": ["Partner"],
        "summary": "/Partner - GET",
        "description": "Returns entities.",
        "operationId": "get-partner",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Partner"
                      }
                    },
                    "nextLink": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_partner": "string"
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "post": {
        "tags": ["Partner"],
        "summary": "/Partner - POST",
        "description": "Create entity.",
        "operationId": "post-partner",
        "parameters": [
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Partner"
              },
              "example": {
                "pk_partner": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Partner"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/User/pk_user/{pk_user}": {
      "get": {
        "tags": ["User"],
        "summary": "/User/pk_user/{pk_user} - GET",
        "description": "Returns an entity.",
        "operationId": "get-user-pk_user-pk_user",
        "parameters": [
          {
            "name": "pk_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "user_oid": "string",
                      "user_first_name": "string",
                      "user_last_name": "string",
                      "user_phone": "string",
                      "user_email": "string",
                      "user_role": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "put": {
        "tags": ["User"],
        "summary": "/User/pk_user/{pk_user} - PUT",
        "description": "Replace or create entity.",
        "operationId": "put-user-pk_user-pk_user",
        "parameters": [
          {
            "name": "pk_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User_NoPK"
              },
              "example": {
                "user_oid": "string",
                "user_first_name": "string",
                "user_last_name": "string",
                "user_phone": "string",
                "user_email": "string",
                "user_role": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "user_oid": "string",
                      "user_first_name": "string",
                      "user_last_name": "string",
                      "user_phone": "string",
                      "user_email": "string",
                      "user_role": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "user_oid": "string",
                      "user_first_name": "string",
                      "user_last_name": "string",
                      "user_phone": "string",
                      "user_email": "string",
                      "user_role": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "patch": {
        "tags": ["User"],
        "summary": "/User/pk_user/{pk_user} - PATCH",
        "description": "Update or create entity.",
        "operationId": "patch-user-pk_user-pk_user",
        "parameters": [
          {
            "name": "pk_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User_NoPK"
              },
              "example": {
                "user_oid": "string",
                "user_first_name": "string",
                "user_last_name": "string",
                "user_phone": "string",
                "user_email": "string",
                "user_role": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "user_oid": "string",
                      "user_first_name": "string",
                      "user_last_name": "string",
                      "user_phone": "string",
                      "user_email": "string",
                      "user_role": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "user_oid": "string",
                      "user_first_name": "string",
                      "user_last_name": "string",
                      "user_phone": "string",
                      "user_email": "string",
                      "user_role": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "delete": {
        "tags": ["User"],
        "summary": "/User/pk_user/{pk_user} - DELETE",
        "description": "Delete entity.",
        "operationId": "delete-user-pk_user-pk_user",
        "parameters": [
          {
            "name": "pk_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/User": {
      "get": {
        "tags": ["User"],
        "summary": "/User - GET",
        "description": "Returns entities.",
        "operationId": "get-user",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "nextLink": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "user_oid": "string",
                      "user_first_name": "string",
                      "user_last_name": "string",
                      "user_phone": "string",
                      "user_email": "string",
                      "user_role": "string"
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "/User - POST",
        "description": "Create entity.",
        "operationId": "post-user",
        "parameters": [
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              },
              "example": {
                "pk_user": "string",
                "user_oid": "string",
                "user_first_name": "string",
                "user_last_name": "string",
                "user_phone": "string",
                "user_email": "string",
                "user_role": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "user_oid": "string",
                      "user_first_name": "string",
                      "user_last_name": "string",
                      "user_phone": "string",
                      "user_email": "string",
                      "user_role": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/Account/pk_account/{pk_account}": {
      "get": {
        "tags": ["Account"],
        "summary": "/Account/pk_account/{pk_account} - GET",
        "description": "Returns an entity.",
        "operationId": "get-account-pk_account-pk_account",
        "parameters": [
          {
            "name": "pk_account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_account": "string",
                      "account_global_id": "string",
                      "account_national_id": "string",
                      "account_name": "string",
                      "account_type": "string",
                      "account_is_active": true,
                      "account_deletion_date": "string",
                      "account_created_at": "string",
                      "account_currency": "string",
                      "account_notification_email": "string",
                      "account_iban_billing": "string",
                      "fk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "put": {
        "tags": ["Account"],
        "summary": "/Account/pk_account/{pk_account} - PUT",
        "description": "Replace or create entity.",
        "operationId": "put-account-pk_account-pk_account",
        "parameters": [
          {
            "name": "pk_account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account_NoPK"
              },
              "example": {
                "account_global_id": "string",
                "account_national_id": "string",
                "account_name": "string",
                "account_type": "string",
                "account_is_active": true,
                "account_deletion_date": "string",
                "account_created_at": "string",
                "account_currency": "string",
                "account_notification_email": "string",
                "account_iban_billing": "string",
                "fk_partner": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_account": "string",
                      "account_global_id": "string",
                      "account_national_id": "string",
                      "account_name": "string",
                      "account_type": "string",
                      "account_is_active": true,
                      "account_deletion_date": "string",
                      "account_created_at": "string",
                      "account_currency": "string",
                      "account_notification_email": "string",
                      "account_iban_billing": "string",
                      "fk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_account": "string",
                      "account_global_id": "string",
                      "account_national_id": "string",
                      "account_name": "string",
                      "account_type": "string",
                      "account_is_active": true,
                      "account_deletion_date": "string",
                      "account_created_at": "string",
                      "account_currency": "string",
                      "account_notification_email": "string",
                      "account_iban_billing": "string",
                      "fk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Account"],
        "summary": "/Account/pk_account/{pk_account} - PATCH",
        "description": "Update or create entity.",
        "operationId": "patch-account-pk_account-pk_account",
        "parameters": [
          {
            "name": "pk_account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account_NoPK"
              },
              "example": {
                "account_global_id": "string",
                "account_national_id": "string",
                "account_name": "string",
                "account_type": "string",
                "account_is_active": true,
                "account_deletion_date": "string",
                "account_created_at": "string",
                "account_currency": "string",
                "account_notification_email": "string",
                "account_iban_billing": "string",
                "fk_partner": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_account": "string",
                      "account_global_id": "string",
                      "account_national_id": "string",
                      "account_name": "string",
                      "account_type": "string",
                      "account_is_active": true,
                      "account_deletion_date": "string",
                      "account_created_at": "string",
                      "account_currency": "string",
                      "account_notification_email": "string",
                      "account_iban_billing": "string",
                      "fk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_account": "string",
                      "account_global_id": "string",
                      "account_national_id": "string",
                      "account_name": "string",
                      "account_type": "string",
                      "account_is_active": true,
                      "account_deletion_date": "string",
                      "account_created_at": "string",
                      "account_currency": "string",
                      "account_notification_email": "string",
                      "account_iban_billing": "string",
                      "fk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Account"],
        "summary": "/Account/pk_account/{pk_account} - DELETE",
        "description": "Delete entity.",
        "operationId": "delete-account-pk_account-pk_account",
        "parameters": [
          {
            "name": "pk_account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/Account": {
      "get": {
        "tags": ["Account"],
        "summary": "/Account - GET",
        "description": "Returns entities.",
        "operationId": "get-account",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "nextLink": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_account": "string",
                      "account_global_id": "string",
                      "account_national_id": "string",
                      "account_name": "string",
                      "account_type": "string",
                      "account_is_active": true,
                      "account_deletion_date": "string",
                      "account_created_at": "string",
                      "account_currency": "string",
                      "account_notification_email": "string",
                      "account_iban_billing": "string",
                      "fk_partner": "string"
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "post": {
        "tags": ["Account"],
        "summary": "/Account - POST",
        "description": "Create entity.",
        "operationId": "post-account",
        "parameters": [
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              },
              "example": {
                "pk_account": "string",
                "account_global_id": "string",
                "account_national_id": "string",
                "account_name": "string",
                "account_type": "string",
                "account_is_active": true,
                "account_deletion_date": "string",
                "account_created_at": "string",
                "account_currency": "string",
                "account_notification_email": "string",
                "account_iban_billing": "string",
                "fk_partner": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_account": "string",
                      "account_global_id": "string",
                      "account_national_id": "string",
                      "account_name": "string",
                      "account_type": "string",
                      "account_is_active": true,
                      "account_deletion_date": "string",
                      "account_created_at": "string",
                      "account_currency": "string",
                      "account_notification_email": "string",
                      "account_iban_billing": "string",
                      "fk_partner": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/UserHasAccount/pk_user/{pk_user}/pk_account/{pk_account}": {
      "get": {
        "tags": ["UserHasAccount"],
        "summary": "/UserHasAccount/pk_user/{pk_user}/pk_account/{pk_account} - GET",
        "description": "Returns an entity.",
        "operationId": "get-userhasaccount-pk_user-pk_user-pk_account-pk_account",
        "parameters": [
          {
            "name": "pk_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pk_account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserHasAccount"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "pk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "put": {
        "tags": ["UserHasAccount"],
        "summary": "/UserHasAccount/pk_user/{pk_user}/pk_account/{pk_account} - PUT",
        "description": "Replace or create entity.",
        "operationId": "put-userhasaccount-pk_user-pk_user-pk_account-pk_account",
        "parameters": [
          {
            "name": "pk_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pk_account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserHasAccount_NoPK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserHasAccount"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "pk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserHasAccount"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "pk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "patch": {
        "tags": ["UserHasAccount"],
        "summary": "/UserHasAccount/pk_user/{pk_user}/pk_account/{pk_account} - PATCH",
        "description": "Update or create entity.",
        "operationId": "patch-userhasaccount-pk_user-pk_user-pk_account-pk_account",
        "parameters": [
          {
            "name": "pk_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pk_account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserHasAccount_NoPK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserHasAccount"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "pk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserHasAccount"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "pk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "delete": {
        "tags": ["UserHasAccount"],
        "summary": "/UserHasAccount/pk_user/{pk_user}/pk_account/{pk_account} - DELETE",
        "description": "Delete entity.",
        "operationId": "delete-userhasaccount-pk_user-pk_user-pk_account-pk_account",
        "parameters": [
          {
            "name": "pk_user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pk_account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/UserHasAccount": {
      "get": {
        "tags": ["UserHasAccount"],
        "summary": "/UserHasAccount - GET",
        "description": "Returns entities.",
        "operationId": "get-userhasaccount",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserHasAccount"
                      }
                    },
                    "nextLink": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "pk_account": "string"
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "post": {
        "tags": ["UserHasAccount"],
        "summary": "/UserHasAccount - POST",
        "description": "Create entity.",
        "operationId": "post-userhasaccount",
        "parameters": [
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserHasAccount"
              },
              "example": {
                "pk_user": "string",
                "pk_account": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserHasAccount"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_user": "string",
                      "pk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/Invoice/pk_invoice/{pk_invoice}": {
      "get": {
        "tags": ["Invoice"],
        "summary": "/Invoice/pk_invoice/{pk_invoice} - GET",
        "description": "Returns an entity.",
        "operationId": "get-invoice-pk_invoice-pk_invoice",
        "parameters": [
          {
            "name": "pk_invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_invoice": "string",
                      "invoice_number": "string",
                      "invoice_month": "string",
                      "invoice_created_at": "string",
                      "invoice_status": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "put": {
        "tags": ["Invoice"],
        "summary": "/Invoice/pk_invoice/{pk_invoice} - PUT",
        "description": "Replace or create entity.",
        "operationId": "put-invoice-pk_invoice-pk_invoice",
        "parameters": [
          {
            "name": "pk_invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice_NoPK"
              },
              "example": {
                "invoice_number": "string",
                "invoice_month": "string",
                "invoice_created_at": "string",
                "invoice_status": "string",
                "fk_account": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_invoice": "string",
                      "invoice_number": "string",
                      "invoice_month": "string",
                      "invoice_created_at": "string",
                      "invoice_status": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_invoice": "string",
                      "invoice_number": "string",
                      "invoice_month": "string",
                      "invoice_created_at": "string",
                      "invoice_status": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Invoice"],
        "summary": "/Invoice/pk_invoice/{pk_invoice} - PATCH",
        "description": "Update or create entity.",
        "operationId": "patch-invoice-pk_invoice-pk_invoice",
        "parameters": [
          {
            "name": "pk_invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice_NoPK"
              },
              "example": {
                "invoice_number": "string",
                "invoice_month": "string",
                "invoice_created_at": "string",
                "invoice_status": "string",
                "fk_account": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_invoice": "string",
                      "invoice_number": "string",
                      "invoice_month": "string",
                      "invoice_created_at": "string",
                      "invoice_status": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_invoice": "string",
                      "invoice_number": "string",
                      "invoice_month": "string",
                      "invoice_created_at": "string",
                      "invoice_status": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Invoice"],
        "summary": "/Invoice/pk_invoice/{pk_invoice} - DELETE",
        "description": "Delete entity.",
        "operationId": "delete-invoice-pk_invoice-pk_invoice",
        "parameters": [
          {
            "name": "pk_invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/Invoice": {
      "get": {
        "tags": ["Invoice"],
        "summary": "/Invoice - GET",
        "description": "Returns entities.",
        "operationId": "get-invoice",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "nextLink": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_invoice": "string",
                      "invoice_number": "string",
                      "invoice_month": "string",
                      "invoice_created_at": "string",
                      "invoice_status": "string",
                      "fk_account": "string"
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "post": {
        "tags": ["Invoice"],
        "summary": "/Invoice - POST",
        "description": "Create entity.",
        "operationId": "post-invoice",
        "parameters": [
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              },
              "example": {
                "pk_invoice": "string",
                "invoice_number": "string",
                "invoice_month": "string",
                "invoice_created_at": "string",
                "invoice_status": "string",
                "fk_account": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_invoice": "string",
                      "invoice_number": "string",
                      "invoice_month": "string",
                      "invoice_created_at": "string",
                      "invoice_status": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/BillingAddress/pk_billing_address/{pk_billing_address}": {
      "get": {
        "tags": ["BillingAddress"],
        "summary": "/BillingAddress/pk_billing_address/{pk_billing_address} - GET",
        "description": "Returns an entity.",
        "operationId": "get-billingaddress-pk_billing_address-pk_billing_address",
        "parameters": [
          {
            "name": "pk_billing_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated list of fields to return in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData expression (an expression that returns a boolean value) using the entity's fields to retrieve a subset of the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Uses a comma-separated list of expressions to sort response items. Add 'desc' for descending order, otherwise it's ascending by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$first",
            "in": "query",
            "description": "An integer value that specifies the number of items to return. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$after",
            "in": "query",
            "description": "An opaque string that specifies the cursor position after which results should be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillingAddress"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_billing_address": "string",
                      "billing_address": "string",
                      "billing_address_complement_localisation": "string",
                      "billing_address_numero_voie": "string",
                      "billing_address_indice_repetition": "string",
                      "billing_address_type_voie": "string",
                      "billing_address_libelle_voie": "string",
                      "billing_address_distribution_speciale": "string",
                      "billing_address_code_postal": "string",
                      "billing_address_libelle_commune": "string",
                      "billing_address_code_pays": "string",
                      "billing_address_pays": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "put": {
        "tags": ["BillingAddress"],
        "summary": "/BillingAddress/pk_billing_address/{pk_billing_address} - PUT",
        "description": "Replace or create entity.",
        "operationId": "put-billingaddress-pk_billing_address-pk_billing_address",
        "parameters": [
          {
            "name": "pk_billing_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingAddress_NoPK"
              },
              "example": {
                "billing_address": "string",
                "billing_address_complement_localisation": "string",
                "billing_address_numero_voie": "string",
                "billing_address_indice_repetition": "string",
                "billing_address_type_voie": "string",
                "billing_address_libelle_voie": "string",
                "billing_address_distribution_speciale": "string",
                "billing_address_code_postal": "string",
                "billing_address_libelle_commune": "string",
                "billing_address_code_pays": "string",
                "billing_address_pays": "string",
                "fk_account": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillingAddress"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_billing_address": "string",
                      "billing_address": "string",
                      "billing_address_complement_localisation": "string",
                      "billing_address_numero_voie": "string",
                      "billing_address_indice_repetition": "string",
                      "billing_address_type_voie": "string",
                      "billing_address_libelle_voie": "string",
                      "billing_address_distribution_speciale": "string",
                      "billing_address_code_postal": "string",
                      "billing_address_libelle_commune": "string",
                      "billing_address_code_pays": "string",
                      "billing_address_pays": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillingAddress"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_billing_address": "string",
                      "billing_address": "string",
                      "billing_address_complement_localisation": "string",
                      "billing_address_numero_voie": "string",
                      "billing_address_indice_repetition": "string",
                      "billing_address_type_voie": "string",
                      "billing_address_libelle_voie": "string",
                      "billing_address_distribution_speciale": "string",
                      "billing_address_code_postal": "string",
                      "billing_address_libelle_commune": "string",
                      "billing_address_code_pays": "string",
                      "billing_address_pays": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "patch": {
        "tags": ["BillingAddress"],
        "summary": "/BillingAddress/pk_billing_address/{pk_billing_address} - PATCH",
        "description": "Update or create entity.",
        "operationId": "patch-billingaddress-pk_billing_address-pk_billing_address",
        "parameters": [
          {
            "name": "pk_billing_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingAddress_NoPK"
              },
              "example": {
                "billing_address": "string",
                "billing_address_complement_localisation": "string",
                "billing_address_numero_voie": "string",
                "billing_address_indice_repetition": "string",
                "billing_address_type_voie": "string",
                "billing_address_libelle_voie": "string",
                "billing_address_distribution_speciale": "string",
                "billing_address_code_postal": "string",
                "billing_address_libelle_commune": "string",
                "billing_address_code_pays": "string",
                "billing_address_pays": "string",
                "fk_account": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillingAddress"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_billing_address": "string",
                      "billing_address": "string",
                      "billing_address_complement_localisation": "string",
                      "billing_address_numero_voie": "string",
                      "billing_address_indice_repetition": "string",
                      "billing_address_type_voie": "string",
                      "billing_address_libelle_voie": "string",
                      "billing_address_distribution_speciale": "string",
                      "billing_address_code_postal": "string",
                      "billing_address_libelle_commune": "string",
                      "billing_address_code_pays": "string",
                      "billing_address_pays": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillingAddress"
                      }
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "pk_billing_address": "string",
                      "billing_address": "string",
                      "billing_address_complement_localisation": "string",
                      "billing_address_numero_voie": "string",
                      "billing_address_indice_repetition": "string",
                      "billing_address_type_voie": "string",
                      "billing_address_libelle_voie": "string",
                      "billing_address_distribution_speciale": "string",
                      "billing_address_code_postal": "string",
                      "billing_address_libelle_commune": "string",
                      "billing_address_code_pays": "string",
                      "billing_address_pays": "string",
                      "fk_account": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          }
        }
      },
      "delete": {
        "tags": ["BillingAddress"],
        "summary": "/BillingAddress/pk_billing_address/{pk_billing_address} - DELETE",
        "description": "Delete entity.",
        "operationId": "delete-billingaddress-pk_billing_address-pk_billing_address",
        "parameters": [
          {
            "name": "pk_billing_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-MS-API-ROLE",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
[...]
